<?xml version="1.0"?>
<model>
  <name>Fanuc Gripper</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Peter Mnev</name>
   <email>pnm5@nist.gov</email>
   <name>Pavel Piliptchak</name>
   <email>pavel.piliptchak@nist.gov</email>
  </author>

  <description>
    Gripper used by the APRS Fanuc LRMate200iD. 
  </description>
</model>
